<%= form_with(model: invite, local: true) do |form| %>
  <% if invite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invite.errors.count, "error") %> prohibited this invite from being saved:</h2>

      <ul>
        <% invite.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field(:invite, :sender_id, :value => current_user.id) %>

  <div class="field">
    <%= form.label :receiver_id %>
    <%= form.select :receiver_id, User.all.collect { |p| [ p.first_name, p.id ] } , { include_blank: 'Please choose' } %>
  </div>

  <div class="field">
    <%= form.label :accecpted %>
    <%= form.check_box :accecpted %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.select :group_id, Group.all.collect { |p| [ p.title, p.id ] } , { include_blank: 'Please choose' }%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
