<p id="notice"><%= notice %></p>

<h1>Invites</h1>

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Receiver</th> 
      <th>Accecpted</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invites.each do |invite| %>
      <tr>
        <td><%= invite.sender.first_name %></td>
        <td><%= invite.receiver.first_name %></td>
        <td><%= invite.accecpted %></td>
        <td><%= invite.group.title %></td>
        <td>
          <%if invite.accecpted == false%>

            <%= form_with(model: invite, local: true) do |form| %>
    
              <%= hidden_field(:invite, :sender_id, :value => invite.sender_id ) %>
              <%= hidden_field(:invite, :receiver_id, :value => invite.receiver_id) %>
              <%= hidden_field(:invite, :accecpted, :value => true) %>
              <%= hidden_field(:invite, :group_id, :value => invite.group_id) %>

              <div class="actions">
                <%= form.submit "Accept Invite" %>
              </div>
            <% end %>
             <td><%= link_to 'Delete Invite', invite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <%else%>
             <td><%= link_to 'Leave Group', invite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invite', new_invite_path %>
