<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo %>
  </div>

  <div class="field">
    <%= form.label :event_start %>
    <%= form.datetime_select :event_start %>
  </div>

  <div class="field">
    <%= form.label :rsvp_send_before %>
    <%= form.text_field :rsvp_send_before %>
  </div>

  <div class="field">
    <%= form.label :repeats_every %>
    <%= form.text_field :repeats_every %>
  </div>

  <%= hidden_field(:group, :creator_id, :value => current_user.id) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
