<p id="notice"><%= notice %></p>

<h1><%= @user_events %>

<h1>Future Events</h1>

<table>
  <thead>
    <tr>
      <th>Tsar</th>
      <th>Movie watched</th>
      <th>Group</th>
      <th>Watch Date</th>
      <th>Watch Time</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @future_events.order(:watch_date).each do |event| %>
      <tr>
        <% if event.tsar.present? %>
          <td><%= event.tsar.first_name %></td>
        <% else %>
          <td>"Tsar not yet picked"</td>
        <%end%>
        <td><%= event.movie_watched %></td>
        <td><%= event.group.title %></td>
        <td><%= event.watch_date.strftime("%A %b %d, %Y") %></td>
        <td><%= event.watch_date.strftime(" %l:%m %p") %></td>
        <td><%= event.group.address %></td>
        <td><%= link_to 'Show', event %></td>
        <% if event.group.creator_id == current_user.id %>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Cancel', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

  <h2>Past Events</h2>

<table>
  <thead>
    <tr>
      <th>Tsar</th>
      <th>Movie watched</th>
      <th>Group</th>
      <th>Watch Date</th>
      <th colspan="3"></th>
    </tr> 
  </thead>

  <tbody>
    <% @past_events.order(watch_date: :desc).each do |event| %>
      <tr>
        <td><%= event.tsar.first_name %></td>
        <td><%= event.movie_watched %></td>
        <td><%= event.group.title %></td>
        <td><%= event.watch_date.strftime("%b %d, %Y") %></td>
        <td><%= link_to 'Show', event %></td>
         <% if event.group.creator_id == current_user.id %>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Cancel', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
