<p id="notice"><%= notice %></p>

<p>
  <strong>Tsar:</strong>
   <% if @event.tsar.present? %>
        <td><%= event.tsar.first_name %></td>
      <% else %>
        <td>"Tsar not yet picked"</td>
      <%end%>
</p>

<p>
  <strong>Movie watched:</strong>
  <%= @event.movie_watched %>
</p>

<p>
  <strong>Group:</strong>
  <%= @event.group.title %>
</p>

<p>
  <strong>Event Start:</strong>
  <%= @event.watch_date.strftime("%A, %b %d") %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.group.address %>
</p>

<p>
  <strong>Rsvps</strong>
</p>

<ul>
  <% @event.rsvps.each do |rsvp| %> 
    <li>
      <%= rsvp.user.first_name %> <%= rsvp.accepted == true ? ("Rsvp'ed") : ("Has not Rsvp'ed")%> 
    </li>

  <% end %>
</ul>

<p>
  <strong>Custom message:</strong>
  <%= @event.custom_message %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
