<p id="notice"><%= notice %></p>

<p>
  <strong>Tsar:</strong>
  <%= @event.tsar_id %>
</p>

<p>
  <strong>Movie watched:</strong>
  <%= @event.movie_watched %>
</p>

<p>
  <strong>Group:</strong>
  <%= @event.group_id %>
</p>

<p>
  <strong>Custom message:</strong>
  <%= @event.custom_message %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
