<p id="notice"><%= notice %></p>

<h1>Rsvps</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Accepted</th>
      <th>Date</th>
      <th>Host</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rsvps.each do |rsvp| %>
      <tr>    
        <td><%= rsvp.accepted %></td>
        <td><%= rsvp.event.watch_date.strftime("%A, %b %e, %l:%m %p") %></td>
        <td><%= rsvp.event.group.title%></td>
        <td><%= rsvp.event.group.address %></td>

        <% if rsvp.accepted == false %>

        <td>
                <%= form_with(model: rsvp, local: true) do |form| %>
            <% if rsvp.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

                <ul>
                  <% rsvp.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <%= hidden_field(:rsvp, :user_id, :value => rsvp.user_id) %>
            <%= hidden_field(:rsvp, :accepted, :value => true) %>
            <%= hidden_field(:rsvp, :event_id, :value => rsvp.event_id) %>

            <div class="actions">
              <%= form.submit "RSVP", class: "btn btn-success"%>
            </div>
          <% end %>
        </td>

        <%else%>
        <div class ="actions">
        <td><%= link_to 'Destroy RSVP', rsvp, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
        </div>
        <%end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


