<!DOCTYPE html>
<html>
  <head>
    <title>MovieCzar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class ="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              
              <% if user_signed_in? %>

                <li class = "nav-item active">
                  <%= link_to "Events", :events , :class => "navbar-brand"%>
                </li>
              
               
                <li class="nav-item">
                  <%if current_user.unconfirmed_invites.count >= 1%>
                    <%= link_to "Invites (#{current_user.unconfirmed_invites.count})", :invites, {:class => "nav-link"} %>
                  <%else%>
                    <%= link_to "Invites", :invites, {:class => "nav-link"} %>
                  <%end%>
                </li>

                <li class="nav-item">
                  <%if current_user.rsvps.future_events.where(:accepted => false).count >= 1%>
                    <%= link_to "Rsvps (#{current_user.rsvps.future_events.where(:accepted => false).count})", :rsvps, {:class => "nav-link"} %>
                  <%else%>
                    <%= link_to "Rsvps", :rsvps, {:class => "nav-link"} %>
                  <%end%>
                </li>

                <%= link_to "Edit Profile", :edit_user_registration, {:class => "nav-link"} %>
                <li class="nav-item navbar-right">
                  <%= link_to "Sign out", :destroy_user_session, {:method => :delete, :class => "nav-link"} %>
                </li>
          
              <% else %>
                <%= link_to "Sign up", :new_user_registration, {:class => "nav-link"} %>
                <%= link_to "Sign in", :user_session, {:class => "nav-link"} %>
              <% end %>
              
              </ul>
          </div>
        </nav>
        </div>

 <div class="container">
       
          
        <%= yield %>
      </div>
  </body>
</html>
